
.vs/Timer/v14/.suo
Timer/bin/Debug/Timer.exe
Timer/bin/Debug/Timer.exe.config
Timer/bin/Debug/Timer.pdb
Timer/bin/Debug/Timer.vshost.exe
Timer/bin/Debug/Timer.vshost.exe.config
Timer/bin/Debug/Timer.vshost.exe.manifest
Timer/bin/Release/Timer.exe
Timer/bin/Release/Timer.exe.config
Timer/bin/Release/Timer.pdb
Timer/bin/Release/Timer.vshost.exe
Timer/bin/Release/Timer.vshost.exe.config
Timer/bin/Release/Timer.vshost.exe.manifest
Timer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Timer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Timer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Timer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Timer/obj/Debug/Timer.csproj.FileListAbsolute.txt
Timer/obj/Debug/Timer.csprojResolveAssemblyReference.cache
Timer/obj/Debug/Timer.exe
Timer/obj/Debug/Timer.pdb
Timer/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Timer/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Timer/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Timer/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Timer/obj/Release/Timer.csproj.FileListAbsolute.txt
Timer/obj/Release/Timer.exe
Timer/obj/Release/Timer.pdb
